/ rule
#contactModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "remoteModalLabel", :role => "dialog", :tabindex => "-1"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %h5 お問い合わせ
      %div.modal-body.contact
        %pre
          :preserve
             コンサル担当
             担当：内海
            
      %div.modal-footer
        %button{:type => "button", :class => "btn btn-primary", "data-dismiss" => "modal"}閉じる
