/ rule
#ruleModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "remoteModalLabel", :role => "dialog", :tabindex => "-1"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %h5 本ツールについて
        %div.modal-body
          %pre
            :preserve
              ■利用上の注意：
                
          %pre
            :preserve
              ■利用データ：
              　ツール説明
              　　○タイトル
              　　　・説明
              　　○タイトル
              　　　・説明
              　　○タイトル
              　　　・説明
              
        %div.modal-footer
          %button{:type => "button", :class => "btn btn-primary", "data-dismiss" => "modal"}閉じる
