// Place all the styles related to the mail_template::main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.margin-bottom-20 {
  margin-bottom: 20px;
}

#js-at-type{
  margin-left: 20px;
}

#js-update-at-type{
  margin-left: 20px;
}
