.row
  .col-md-3
  .col-md-6
    .auth-form-header.text-center
      = t(".title")
    .auth-form-body
      %p
        %i.glyphicon.glyphicon-ok
        = t(".update_email_link_click_on_notification_email")
      %p
        %i.glyphicon.glyphicon-time
        = t(".email_8_hours_expiration")
